* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 2816px;
    align-items: center;
    background-color: #151A20;

}

.header_bg {
    background-image: url(/images/header-bg.png);
    position: absolute;
    width: 1295px;
    height: 756px;
    left: 145px;
    top: 0px;

}

header {
    width: 1295px;
    height: 756px;
}

.header_logo {
    position: absolute;
    display: flex;
    width: 115px;
    height: 41px;
    left: 134px;
    top: 29px;
}

.header_fire {
    position: absolute;
    left: 1040px;
    top: 32px;
}

.header_bell {
    position: absolute;
    left: 1095px;
    top: 36px;
}

.header_userinfo {
    position: absolute;
    display: flex;
    width: 160px;
    height: 41px;
    left: 1145px;
    top: 25px;
}


.little_dune {
    position: absolute;
    width: 255px;
    height: 341px;
    left: 1050px;
    top: 230px;
}

nav {
    position: absolute;
    width: 54px;
    height: 561px;
    left: 0px;
    top: 115px;

    background: #1E242C;
    box-shadow: 9px 4px 18px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
}

.new {
    width: 1170px;
}

.new p {
    padding: 5px 0 40px 0;
}

.new_bg {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 550px 290px 290px;
    grid-template-rows: 316px 282px;
    gap: 20px 20px;
    grid-template-areas:
        "a b c"
        "a d d";
}

.new_fire {
    background-image: url(/images/ref/fire.png);
    grid-area: a;
    width: 550px;
    height: 618px;
}

.new_holly {
    background-image: url(/images/ref/hollywood.png);
    grid-area: b;
}

.new_mortal {
    background-image: url(/images/ref/mortal.png);
    grid-area: c;
}

.new_sword {
    background-image: url(/images/ref/sword.png);
    grid-area: d;
    width: 600px;
    height: 282px;
}

.shows_preview {
    margin: 0 auto;
    width: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.films {}

.films p {
    padding: 25px 0 40px 0;
}

.films_pic {
    display: flex;
    flex-direction: column;
}

.films_row1,
.films_row2 {
    gap: 16px 7px;
}

.tvshows p {
    padding: 25px 0 40px 0;
}

.cartoons p {
    padding: 25px 0 40px 0;
}

.anime p {
    padding: 25px 0 40px 0;
}

footer {
    width: 100%;
    margin-top: 82px;
    background: #1E242C;
}